@{
    ViewBag.Title = "Contact";
}

<h2>BÙI TIẾN ĐẠT</h2>

<address>
    <strong> Số điện thoại: </strong>  0967.241.179<br />
    <strong> Địa chỉ: </strong>  Phước Hậu, Cần Giuộc, Long An <br />
    <strong>Email:</strong>   <a href=""></a>buidat386@gmail.com<br />
    <strong>Github:</strong> <a href="https://github.com/TienDat-Bui">https://github.com/TienDat-Bui</a>

</address>
